@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scroll-behavior: smooth;
  }
  body {
    @apply dark:text-lighttext text-darktext bg-bglight dark:bg-bgdark;
  }

  label {
    @apply cursor-text text-main;
  }

  #post {
    @apply leading-tight text-darktext dark:text-lighttext;
  }

  #post li::marker {
    @apply text-darktext dark:text-lighttext;
  }

  #post pre {
    @apply bg-darktext dark:bg-lighttext2 text-lighttext dark:text-darktext;
  }

}

@keyframes carousel {
  0%, 100% {
    transform: translateX(1%);
  }
  50% {
    transform: translateX(calc(var(--container-width) - var(--total-width)));
  }
}

.animate-carousel {
  animation: carousel 8s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-carousel {
    animation: none;
  }
}